.Translation{
  height: 800px;
}

.trans_left {
  float: left;
}

.trans_left .trans_Input{
  width: 500px;
  height: 500px;
}

.trans_right .trans_output{
  width: 500px;
  height: 500px;
}

.trans_left {
  font-size: 13px;
}

.trans_left .trans_Input::placeholder{
  font-size:11px;
}

.trans_descriptions{
  display: inline;
}

.trans_desc{
  font-size: 11px;
}


.trans_right {
  float: right;
}

