
footer {
  background-color: gray;
  text-align: left;
  padding: 30px;
  
}

footer ul {
  font-size: 20px;
  list-style: none;
}

footer li {
  font-size: 14px;
  margin-left: 20px;
  font-weight: 800;
  display: inline;
}

footer p {
  font-size: 13px;
  margin-bottom: 0;
}